table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even){background-color: #e5f0e9}
    tr:hover{background-color: #e2f2f8}
    tr:nth-child(even) {background-color: #f8e7e7}